footer {
  display: flex;
  /* position: absolute;
    bottom: 0; */
  background-color: #0d6efd;
  color: white;
  width: 100%;
  align-items: center;
  justify-content: center;
  /* margin-top: 20px; */
}

footer p {
  margin: 0;
}

.flex-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

header {
  margin-bottom: 0.7rem;
}

header {
  zoom: 110%;
}

footer {
  zoom: 110%;
}

.zoom {
  zoom: 120%;
}
